@import 'tailwindcss';
@source "../";

@theme {
  --breakpoint-mobile: 375px;
  --breakpoint-desktop: 1440px;
}

@layer base {
  :root {
    --color-orange: hsl(26, 100%, 55%);
    --color-pale-orange: hsl(25, 100%, 94%);
    --color-very-dark-blue: hsl(220, 13%, 13%);
    --color-dark-grayish-blue: hsl(219, 9%, 45%);
    --color-grayish-blue: hsl(220, 14%, 75%);
    --color-light-grayish-blue: hsl(223, 64%, 98%);
  }
  body {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
  }
  strong,
  b {
    font-weight: 700;
  }
}

@layer components {
  li {
    cursor: pointer;
  }

  li:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-orange);
    text-decoration-thickness: 3px;
    text-underline-offset: 65px;
    color: var(--color-dark-grayish-blue);
  }
  hr {
    color: var(--color-grayish-blue);
  }

  @media (max-width: 376px) {
    li:hover {
      text-underline-offset: 10px;
    }
  }
}

@layer utilities {
}
